.auth-form {
    box-sizing: border-box;

    &__background {
        position: fixed;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background-color: #000000;
        opacity: 0.5;

    }

    &__popup-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        transform: translate(-50%, -50%);

        padding-bottom: 20px;

        width: 290px;
        height: 385px;

        background: #e9f1f7;

        border-radius: 15px;
    }

    &__popup-close {
        position: absolute;
        top: -20px;
        left: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 30px;
        height: 30px;

        font-weight: 900;
        text-transform: uppercase;

        background-color: #db504a;
        border-radius: 50%;

        cursor: pointer;
    }

    &__popup-status-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        height: 60px;

        font-weight: 500;
        text-transform: uppercase;

        letter-spacing: 1.25px;
    }

    &__popup-status-button {
        box-sizing: border-box;
        display: flex;
        justify-content: center;

        padding: 20px 0;

        width: 50%;
        height: 100%;

        border-bottom: solid 1px #000000;

        transition: all 0.3s ease;

        cursor: pointer;

        &:first-child {
            border-top-left-radius: 15px;
        }

        &:last-child {
            border-left: solid 1px #000000;
            border-top-right-radius: 15px;

        }

        &_active {
            background-color: #08b2e3;
        }

        &:hover {
            background-color: #08b2e3;
        }
    }

    &__popup-status-info {
        box-sizing: border-box;
        display: flex;
        justify-content: center;

        padding: 20px 0;

        width: 100%;
        height: 100%;

        background-color: #08b2e3;
        border-bottom: solid 1px #000000;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;

        cursor: default;
    }

    &__popup-form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }

    &__popup-form-input {
        margin: 20px 15px 0;
        padding: 1px 10px 2px;

        width: 100%;
        height: 35px;

        border: none;
        border-radius: 5px;
        outline: none;

        &:focus {
            outline: solid 1px #94bfa7;
        }
    }

    &__popup-form-submit {
        margin-top: 50px;
        padding: 1px 20px 2px;

        width: auto;
        height: 40px;

        font-weight: 600;
        text-transform: uppercase;

        background-color: #c6ecae;
        border: none;
        border-radius: 5px;

        transition: all 0.3s ease;

        cursor: pointer;

        letter-spacing: 1.25px;

        &:hover {
            background-color: #94bfa7;
        }
    }
}