.header {
    height: auto;
    background-color: #4C2B36;
    color: #d4f4dd;

    padding: 0 50px;

    &__auth-wrapper {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
    }

    &__auth-item {
        height: 80px;
        display: flex;
        align-items: center;
        padding: 0 15px;

        cursor: default;

        &:nth-child(2n+1) {
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
                color: #87cbac;
            }
        }
    }

    &__auth-item-text {
        font-weight: 700;
        letter-spacing: 1.2px;
    }

    @media (max-width: 600px) {

    }
}

